<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.MemberDAO">
  	<insert id="insertMember">
  		insert into member(me_id, me_pw, me_email, me_birthday)
  		values(#{m.me_id},#{m.me_pw},#{m.me_email},#{m.me_birthday})
  	</insert>
  	<insert id="insertMemberOK">
  		insert into member_ok(mo_me_id, mo_num, mo_valid_time)
  			values(#{mok.mo_me_id},#{mok.mo_num},
  				date_add(#{mok.mo_valid_time},interval 1 hour))
  	</insert>
  	<select id="selectMemberOK" resultType="kr.kh.spring.vo.MemberOKVO">
  		select * from member_ok 
  			where mo_me_id = #{mok.mo_me_id} 
  				and mo_num = #{mok.mo_num}
  				and mo_valid_time >= now()
  	</select>
  	<delete id="deleteMemberOK">
  		delete from member_ok 
  			where mo_me_id = #{mok.mo_me_id} and mo_num = #{mok.mo_num}
  	</delete>
  	<update id="updateAuthority">
  		update member
  			set
  				me_authority = #{me_authority}
  			where
  				me_id = #{me_id}
  	</update>
  	<select id="selectMemberById" resultType="kr.kh.spring.vo.MemberVO">
  		select * from member where me_id = #{me_id}
  	</select>
</mapper>
