<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.test.dao.CommentDAO">
  <insert id="insertComment">
  	insert into
  		comment(co_num, co_ori_num, co_content, co_me_id, co_bo_num)
  		select 
  			ifnull(max(co_num),0)+1,
  			<if test="comment.co_ori_num == 0">
  			ifnull(max(co_num),0)+1,
  			</if>
  			<if test="comment.co_ori_num != 0">
  			#{comment.co_ori_num},
  			</if>
  			#{comment.co_content},
  			#{comment.co_me_id},
  			#{comment.co_bo_num}
  		from
  			comment
  </insert>
  <select id="selectCommentList" resultType="kr.kh.test.vo.CommentVO">
  	select 
  		* 
  	from 
  		comment
  	where
  		co_bo_num = #{co_bo_num}
  	order by
  		co_ori_num desc, co_num asc
  	limit
  		#{cri.pageStart}, #{cri.perPageNum}
  </select>
  <select id="selectTotalCountCommentList" resultType="int">
  	select 
  		count(*) 
  	from 
  		comment
  	where
  		co_bo_num = #{co_bo_num}
  </select>
  <select id="selectComment" resultType="kr.kh.test.vo.CommentVO">
  	select
  		*
  	from
  		comment
  	where
  		co_num = #{co_num}
  </select>
  <delete id="deleteComment">
  	delete
  	from
  		comment
  	where
  		co_num = #{co_num}
  </delete>
</mapper>
