<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.test.dao.MemberDAO">
  <select id="selectMemberName" resultType="String">
  	select st_name from student where st_num = #{num}
  </select>
  <insert id="insertMember">
  	insert into member(me_id, me_pw, me_email, me_birthday)
  	values(#{member.me_id},#{member.me_pw},#{member.me_email},#{member.me_birthday})
  </insert>	
  <select id="selectMemberById" resultType="kr.kh.test.vo.MemberVO">
  	select * from member where me_id = #{me_id}
  </select>
  <insert id="insertMemberOK">
  	insert into member_ok(mo_me_id, mo_num, mo_valid_time)
  		values(#{mok.mo_me_id}, #{mok.mo_num}, date_add(now(), interval 1 hour))
  </insert>
</mapper>
